.light {
  --colors-black: #353535;
  --colors-white: white;
  --colors-text: var(--colors-black);
  --colors-background: var(--colors-white);
  --colors-interactive: #ef5092;
}

.dark {
  --colors-black: #1c1f26;
  --colors-white: #c0c5ce;
  --colors-text: var(--colors-white);
  --colors-background: var(--colors-black);
  --colors-interactive: #a56fba;
}
