.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.intro {
  width: 500px;
  display: grid;
  text-align: center;
  gap: var(--spacing-m);
}

.badges {
  display: flex;
  justify-content: center;
}

@media (width <= 500px) {
  .box {
    width: 100%;
  }
}
