.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.content {
  width: 900px;
  padding: var(--spacing-m) 0;
}

@media (width <= 900px) {
  .content {
    padding: var(--spacing-m);
  }
}
