.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: var(--spacing-m) 0;
}

@media (width <= 500px) {
  .content {
    padding: var(--spacing-m);
  }
}
